<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/detalle.css">
    <title>Trabajo realizado//detalle</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="logo-completo">
            <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
            <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
        </div>

        <form class="buscador" action="" method="get">
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
            <input class="buscador-boton" type="submit" value="🔍">
        </form>
        <div class="menu" id="login">
        </div>
    </header>

    <main>
        <div class="fila1">
            <div class="imagen"><img class="foto" src="../static/img/fotos/images (1).jpg" alt="imagen"></div>
            <div class="medio">
                <br><br>
                <h3>Fletero <br><br>
                    Suares Carlos Daniel
                </h3>
            </div>
            <div class="derecha">
                <br>
                ★★★★★ N°.N° <br>
                Zona:
            </div>
        </div>
        <div class="fila2">
            <br>
            <h4>Descripción:</h4><br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laborum deleniti ad odio itaque
                illum voluptates vero harum. Rerum, labore ipsum beatae numquam quae iste quisquam tempora vero
                magni laborum!
            </p>
            <br>
        </div>
        <div class="fila3"><button type="button" class="btn btn-outline-primary">Confirmar</button>
        </div>
    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/index.js"></script>
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>

</html>