<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/historial.css">
    <title>Historia de pedidos</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="logo-completo">
            <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
            <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
        </div>

        <form class="buscador" action="" method="get">
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
            <input class="buscador-boton" type="submit" value="🔍">
        </form>
        <div class="menu" id="login">
        </div>
    </header>
    <main>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (1).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Fletero: Suares Carlos Daniel</h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (2).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Pintor: Martinez Estevan </h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador/trabajador3.html"><img class="foto" src="../static/img/fotos/images (3).jpg"
                            alt=""></a>
                </div>
                <div class="derecha">
                    <h2>Jardinero: Lopez Ignacio Facundo</h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador/trabajador4.html"><img class="foto" src="../static/img/fotos/images (4).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Electricista: Bravo Martin </h2>tton t
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador/trabajador5.html"><img class="foto" src="../static/img/fotos/images (5).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Limpieza: Montenegro Sandra Lujan</h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></a></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador/trabajador6.html"><img class="foto" src="../static/img/fotos/images (6).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Albañil: Fonsi Miguel Angel</h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador/trabajador7.html"><img class="foto" src="../static/img/fotos/images (7).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Carpintero: Gonzaléz Juan Pablo</h2>
                    <p>Dejar una comentario <button type="button" class="btn btn-outline-primary">Click</button></p>
                </div>

            </div>
        </section>


    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/index.js"></script>
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>

</html>